*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier;
    font-size: 18px;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier;
    font-size: 10px;
    outline: none;
    border: none;
}

.contact-box{
    margin: 75px auto;
    margin-top: 100px;
    padding: 1px;
}
.contact-box .contact-content h2{
    font-family: Courier;
    font-size: 50px;
    padding-bottom: 20px;
  color: var(--foreground);
}

/* CONTENT INSIDE POPUP */
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;;
}
/* Full-width input fields */
input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #e1dfdd;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #e1dfdd;
}
/* SEND BUTTON */
.Sendbtn {
    height: 40px;
    width: 50%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    background: #C06C84;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
}
.Sendbtn:hover {
    background:#6C5B7B;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 900px) {
  body{
      position: relative;
  }
  .contact-box .contact-content{
      flex-wrap: wrap;
      flex-direction: column;
      margin: 5px 0;
      margin-top: 130px;
  }
  input[type=email]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    }
    textarea{
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .Sendbtn {
        height: 40px;
        width: 40%;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    
    }
}