*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier;
  font-size: 18px;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html{
  height: fit-content;
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1{
  color: #000000;
  font-family: Apple Chancery;
  font-size: 6rem;
  padding: 1rem;
  text-align: center;
}

h4{
  color: #000000;
  font-family: Garamond;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

section{
  margin-top: 0px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FAQS{
  padding-top: 150px;
  padding-bottom: 100px;
}

.FAQS-Title{
  padding-bottom: 50px;
}


 .column2{
  display: flex;
  flex-direction: row;
}

h5{
  color: #000000;
  padding: 2rem;
  font-size: 1.4rem;
  font-family: Monaco;
  text-align: justify;
}


.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}
 
button.accordionBar {
  width: 100%;
  font-size: 18px;
  padding: 13px 18px;
  margin-bottom: 2px;
  border: none;
  outline: none;
  text-align: left;
  font-family: Copperplate Gothic Light;
  background-color: #d9a7c7;
  color: #333;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
 
button.accordionBar:after {
  float: right;
  content: '\f055';
  font-family: "fontawesome";
  font-size: 20px;
}
 
button.accordionBar.is-open:after {
  content: '\f056';
}
 
button.accordionBar:hover, button.accordionBar.is-open {
  background-color: #fffcdc;
}
 
.accordionBar-content {
  background-color: #ffe4e1;
  padding: 0 20px;
  margin-bottom: 2px;
  max-height: 0;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}







