*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier;
    font-size: 18px;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
     -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    height: 100%;
}
section{
    padding: 20px 40px;
}

/*----------AD POPUP----------*/
.ad-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(40, 36, 36, 0.5);
  transition: opacity 500ms;
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
.ad-overlay:target {
  opacity: 0;
  pointer-events: none;
}
/* POPUP BOX */
.adpopup {
  margin: 75px auto;
  padding: 1px;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.adpopup img{
  height: 80%;
  width: 80%;
  border-radius: 15px;
}
/* CLOSE BUTTON */
.adclose {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.adclose:hover {
  opacity: 1;
}

/* ----------HOME---------- */
.home{
    padding-top: 160px;
    display: flex;
    align-items: center;
    min-height: 100px;
}
.home .content{
    width: 550px;
}
.home .content h3{
    font-size: 3rem;
    color: #333;
    padding-right: 40px;
}
.home .content p{
    font-size: 1rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
    margin-right: 50px;
    text-align: justify;
}
.home .imagecontainer img{
    height: 350px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 30px;
}
.topbtn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.topbtn:hover{
    color: #fff;
    text-decoration: none;
    background: #C06C84;
}

/* ----------QUOTE---------- */
.quote{
  border: solid black;
  border-left: 0; border-right: 0;
  border-width: thin;
  height: 250px;
  padding: 40px;
  text-align: center;
}
.quote h4{
  font-size: 35px;
}
section h5{
  font-size: 20px;
  margin-top: 20px;
  float: right;
}

/* ----------POPULAR PRODUCTS---------- */
/* HEADING */
.popular-products h3{
  text-align: center;
  font-size: 50px;
  color: #333;
  position: relative;
  margin: 25px 0 50px;
}
.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position:relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
  background: lightgray;
}
/* CONTENT */
.MultiCarousel .MultiCarousel-inner .item .pad10 h4{
  font-family: Courier;
  margin-top: 15px;
  font-size: 20px;
  color: #333;
}
.MultiCarousel .MultiCarousel-inner .item .pad10 p {
  font-family: Courier;
  margin-top: 5px;
  font-size: 18px;
  color: #333;
}
.MultiCarousel .MultiCarousel-inner .item .pad10 img {
  margin-top: 15px;
  width: 100%;
}
.MultiCarousel .MultiCarousel-inner .item .pad10 .popular-btn {
  display: inline-block;
  background: #333;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background 0.5s;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  font-size: 17px;
}
.MultiCarousel .MultiCarousel-inner .item .pad10 .popular-btn:hover {
  background: #6C5B7B;
  color: white;
  cursor: pointer;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding:10px;
  margin:10px;
  background:#f1f1f1;
  color:#666;
}
/* CONTROLS */
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  position:absolute;
  border-radius:50%;
  top:calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left:0;
}
.MultiCarousel .rightLst {
  right:0;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
  pointer-events: none;
  background:#ccc;
}
.btn-primary {
  background-color: #9B84AC !important;
  border-color: #9B84AC !important;
}

/* ----------CUSTOMER REVIEW---------- */
/* HEADING */
.customer-review h3{
  text-align: center;
  font-size: 50px;
  color: #333;
  position: relative;
  margin: 25px 0 50px;
}
.carousel {
  height: 400px;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 5px;
}
/* CUSTOMER REVIEW/SLIDES */
.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 260px;
}
.carousel .carousel-item a {
  color: #561872;
}
/* BOX FOR NAME AND STARS */
.carousel .header-box {
  /* width: 145px;
  height: 145px; */
  margin: 0 auto;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 10px 0 10px;
}
.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}
.carousel .overview b {
  color: #333;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}
/* STARS */
.carousel .star-rating i {
  color: #EAC2E6;
}
.fa {
  font: normal normal normal 28px/1 FontAwesome !important;
}
/* CAROUSEL CONTROLS */
.carousel-control-prev, .carousel-control-next {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background: #9B84AC;
  text-shadow: none;
  top: 4px;
  opacity: 1 !important;
}
.carousel-control-prev i, .carousel-control-next i {
    font-size: 20px;
    margin-right: 2px;
}
.carousel-control-prev {
  left: auto !important;
  right: 40px !important;
}
.carousel-control-next i {
  margin-right: -2px;
}
/* CAROUSEL INDICATORS */
.carousel .carousel-indicators {
  bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 11px !important;
  height: 11px !important;
  margin: 1px 5px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #e2e2e2 !important;
  /* border: none; */
  border-top: 0 !important;
  box-sizing: border-box !important
}
.carousel-indicators li.active {
  background: #9B84AC !important;
}

